# distribution/packaging/environments
\.DS_Store
.idea/
__pycache__
/__pycache__/*
**/__pycache__/*
.mypy*
\.vscode/
.vscode
.ipynb_checkpoints

test.py

# data
karate.embedded
twocities.txt
unmapped_proteins.txt

# testing/logging
cover
coverage.xml
.coverage
.coverage*
karate.embedded
.mypy_cache/*
*.log

# other
.single_run

embedded_graph.embedded
N2vGraph.pkl
htmlcov