# distribution/packaging/environments
\.DS_Store
.idea/
__pycache__
/__pycache__/*
**/__pycache__/*
.mypy*
\.vscode/
.vscode
.ipynb_checkpoints
node_embeddings/*

# data
karate.embedded
twocities.txt
unmapped_proteins.txt

# testing/logging
cover
coverage.xml
.coverage
.coverage*
.mypy_cache/*
*.log
test.py

# other
.single_run
htmlcov
*.egg*
.ipynb_checkpoints
.pytest_cache
embedding.npy
build
graphs